* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #fafafa;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    background: #ff4d4d;
    color: #fff;
    padding: 15px 30px;
    align-items: center;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

nav a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
.login-btn {
    background: #fff;
    color: #ff4d4d;
    padding: 5px 12px;
    border-radius: 5px;
}

/* HERO */
.hero {
    padding: 60px;
    text-align: center;
    background: url('images/food-bg.jpg') center/cover no-repeat;
    color: #fff;
    background-color: #000000a0;
    backdrop-filter: blur(4px);
}

.hero input {
    width: 60%;
    padding: 14px;
    font-size: 16px;
    margin-top: 20px;
}

/* CATEGORIES */
.categories {
    padding: 30px;
    text-align: center;
}

.cat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cat {
    background: #ff4d4d;
    color: white;
    padding: 12px 25px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
}

/* RESTAURANTS */
.restaurant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.restaurant-card {
    width: 250px;
    background: #fff;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px #ccc;
    overflow: hidden;
}

.restaurant-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.restaurant-card .info {
    padding: 15px;
}

.restaurant-card button {
    width: 100%;
    padding: 10px;
    background: #ff4d4d;
    color: #fff;
    border: none;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #ff4d4d;
    color: white;
    margin-top: 40px;
}
